<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">

</head>

<body>
    {{>header}}
    <h1>{{title}}</h1>
    <img src="./img/WhatsApp Image 2020-07-27 at 10.24.08 AM.jpeg" alt="Saransh Image">
    <p>Created by {{name}}</p>
    {{>footer}}
</body>

</html>