<!DOCTYPE html>
<html>

<head>

</head>

<body>
    {{>header}}
    <h5>We are facing an error</h5>
    <h1>{{error_code}}</h1>
    <p>And the error message is {{error_msg}}</p>
    {{>footer}}
</body>

</html>